# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Recordings - exclude all recording folders and their contents
detection_debug/
Data/combined/

# Data folders with audio files
Data/segmented/
Data/un-segmented/
Data/small-bulk-test/

# Env
.env


#venv
venv
myenv
train/
backups/
model/debug_output/*