# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Recordings
recordings/*.wav
recordings/metadata.csv
detection_debug

# Env
.env


#venv
venv
myenv
train/
backups/
recordings
model/debug_output/*